<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
  <div class="addBrand-container" id="member-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="false"
        label-width="180px"
        class="demo-ruleForm"
      >
        <el-form-item label="Username" prop="username">
          <el-input v-model="ruleForm.username" placeholder="Please enter the username" maxlength="20"/>
        </el-form-item>
        <el-form-item
          label="Name"
          prop="name"
        >
          <el-input
            v-model="ruleForm.name"
            placeholder="Please enter the name"
            maxlength="32"
          />
        </el-form-item>

        <el-form-item
          label="Phone"
          prop="phone"
        >
          <el-input
            v-model="ruleForm.phone"
            placeholder="Please enter the phone"
            maxlength="20"
          />
        </el-form-item>
        <el-form-item
          label="Gender"
          prop="gender"
        >
          <el-radio-group v-model="ruleForm.gender">
            <el-radio label="Male"></el-radio>
            <el-radio label="Female"></el-radio>
          </el-radio-group>
        </el-form-item>
        <div class="subBox address">
          <el-form-item>
            <el-button  @click="goBack()">
              Cancel
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm', false)"
            >
              Save
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm', true)"
            >
              Save and continue to add
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <script src="../../plugins/vue/vue.js"></script>
    <script src="../../plugins/element-ui/index.js"></script>
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/member.js"></script>
    <script src="../../js/validate.js"></script>
    <script src="../../js/index.js"></script>
    <script>
      new Vue({
        el: '#member-add-app',
        data() {
          return {
            id: '',
            actionType : '',
            ruleForm : {
                'name': '',
                'phone': '',
                'gender': 'Male',
                'idNumber': '',
                username: ''
            }
          }
        },
        computed: {
          rules () {
            return {
              username: [
                {
                  required: true, 'validator': checkUserName, trigger: 'blur'
                }
              ],
              name: [{ required: true, 'validator': checkName, 'trigger': 'blur' }],
              'phone': [{ 'required': true, 'validator': checkPhone, 'trigger': 'blur' }]
            }
          }
        },
        created() {
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
        },
        mounted() {
        },
        methods: {
          async init () {
            queryEmployeeById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                console.log(res.data)
                this.ruleForm = res.data
                this.ruleForm.gender = res.data.gender === '0' ? 'Female' : 'Male'
                // this.ruleForm.password = ''
              } else {
                this.$message.error(res.msg || 'Operation failed')
              }
            })
          },
          submitForm (formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                if (this.actionType === 'add') {
                  const params = {
                    ...this.ruleForm,
                    gender: this.ruleForm.gender === 'Female' ? '0' : '1'
                  }
                  addEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Add successfully!')
                      if (!st) {
                        this.goBack()
                      } else {
                        this.ruleForm = {
                          username: '',
                          'name': '',
                          'phone': '',
                          'gender': 'Male',
                          'status': '1'
                        }
                      }
                    } else {
                      this.$message.error(res.msg || 'Operation failed!')
                    }
                  }).catch(err => {
                    this.$message.error('The request went wrong: ' + err)
                  })
                } else {
                  const params = {
                    ...this.ruleForm,
                    gender: this.ruleForm.gender === 'Female' ? '0' : '1'
                  }
                  editEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Modified successfully!')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || 'Operation failed!')
                    }
                  }).catch(err => {
                    this.$message.error('The request went wrong: ' + err)
                  })
                }
              } else {
                console.log('error submit!!')
                return false
              }
            })
          },
          goBack(){
            window.parent.menuHandle({
              id: '2',
              url: '/back/page/member/list.html',
              name: 'EMPLOYEE'
            },false)
          }
        }
      })
    </script>
</body>
</html>