<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <style>
    .selectInput {
      position: relative;
      width: 100%;
      min-width: 100px;
    }
    .selectInput .optionSelect {
      position: absolute;
      width: 100%;
      padding: 0 10px;
      border-radius: 3px;
      border: solid 1px #FF903D;
      line-height: 30px;
      text-align: center;
      background: #fff;
      top: 50px;
      z-index: 99;
    }
    .selectInput .optionSelect .items {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      line-height: 35px;
      border-bottom: solid 1px #f4f4f4;
      color: #666;
    }
    .selectInput .optionSelect .none {
      font-size: 14px;
    }

    #food-add-app .uploadImg .el-form-item__label::before{
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
      }

  </style>
</head>
<body>
   <div class="addBrand-container" id="food-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="true"
        label-width="180px"
        class="demo-ruleForm"
      >
        <div>
          <el-form-item
            label="Name"
            prop="name"
          >
            <el-input
              v-model="ruleForm.name"
              placeholder="Please enter food name"
              maxlength="20"
            />
          </el-form-item>
          <el-form-item
            label="Category"
            prop="categoryId"
          >
            <el-select
              v-model="ruleForm.categoryId"
              placeholder="Please choose food category"
            >
              <el-option v-for="(item,index) in dishList" :key="index" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </div>
        <div>
          <el-form-item
            label="Price"
            prop="price"
          >
            <el-input
              v-model="ruleForm.price"
              placeholder="Please set food price"
            />
          </el-form-item>
        </div>
        <el-form-item label="Option">
          <el-form-item>
            <div class="optionBox">
              <span
                v-if="dishOptions.length == 0"
                class="addBut"
                @click="addOption"
              > + add option</span>
              <div
                v-if="dishOptions.length != 0"
                class="option"
              >
                <div class="title">
                  <span>Option </span><span>Label</span>
                </div>
                <div class="cont">
                  <div
                    v-for="(item, index) in dishOptions"
                    :key="index"
                    class="items"
                  >
                    <div class="itTit">
                      <div class="selectInput">
                        <div>
                           <el-input
                              v-model="item.name"
                              type="text"
                              style="width: 100%"
                              placeholder="Please enter option"
                              @focus="selectOption(true,index)"
                              @blur="outSelect(false,index)"
                              @input="inputHandle(index)"
                            />
                        </div>
                        <div v-show="item.showOption" class="optionSelect">
                          <span
                            v-for="(it, ind) in dishOptionsData"
                            :key="ind"
                            class="items"
                            @click="checkOption(it,ind,index)"
                          >{{ it.name }}</span>
                          <span
                            v-if="dishOptionsData == []"
                            class="none"
                          >No data</span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="labItems"
                      style="display: flex"
                    >
                      <span
                        v-for="(it, ind) in item.value"
                        :key="ind"
                      >{{ it }} <i @click="delOptionLabel(index, ind)">X</i></span>
                      <div
                        class="inputBox"
                        :style="inputStyle"
                        contenteditable="true"
                        @focus="optionPosition(index)"
                        @keydown.enter="(val)=>keyDownHandle(val,index)"
                      ></div>
                    </div>
                    <span
                      class="delOption delBut non"
                      @click="delOption(index)"
                    >Delete</span>
                  </div>
                </div>
                <div
                  class="addBut"
                  @click="addOption"
                >
                  Add option
                </div>
              </div>
            </div>
          </el-form-item>
        </el-form-item>
        <div>
        </div>
        <div>
          <el-form-item
            label="Food Picture"
            prop="region"
            class="uploadImg"
          >
            <el-upload
              class="avatar-uploader"
              action="/common/upload"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :on-change="onChange"
              ref="upload"
            >
              <img
                v-if="imageUrl"
                :src="imageUrl"
                class="avatar"
              ></img>
              <i
                v-else
                class="el-icon-plus avatar-uploader-icon"
              ></i>
            </el-upload>
          </el-form-item>
        </div>
        <div class="address">
          <el-form-item
            label="Food Description"
            prop="region"
          >
            <el-input
              v-model="ruleForm.description"
              type="textarea"
              :rows="3"
              placeholder="Please enter food description"
              maxlength="200"
            />
          </el-form-item>
        </div>
        <div class="subBox address">
          <el-form-item>
            <el-button @click="goBack()">
              Cancel
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm')"
            >
              Save
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm','goAnd')"
            >
              Save and continue to add
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <script src="../../plugins/vue/vue.js"></script>
    <script src="../../plugins/element-ui/index.js"></script>
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../js/validate.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../api/food.js"></script>
    <script>
      new Vue({
        el: '#food-add-app',
        data() {
          return {
            id: '',
            restKey: 0,
            textarea: '',
            value: '',
            imageUrl: '',
            actionType: '',
            dishList: [],
            dishOptionsData: [],
            dishOptions: [],
            vueRest : '1',
            index : 0,
            inputStyle  : {'flex':1},
            ruleForm  : {
              'name': '',
              'id': '',
              'price': '',
              'code': '',
              'image': '',
              'description': '',
              'dishOptions': [],
              'status': true,
              categoryId: ''
            },
            mak: false
          }
        },
        computed: {
          rules () {
            return {
              'name': [
                {'required': true, 'message': 'Please enter food name', 'trigger': 'blur'}
              ],
              'categoryId': [
                {'required': true, 'message': 'Please choose food category', 'trigger': 'change'}
              ],
              'price': [
                {
                  'required': true,
                  validator: (rules, value, callback) => {
                    if (!value) {
                      callback(new Error('Please enter food price'))
                    } else {
                      const reg = /^\d+(\.\d{0,2})?$/
                      if (reg.test(value)) {
                        if(value < 10000){
                          callback()
                        }else{
                          callback(new Error('Food price less than 10000 AUD'))
                        }
                      } else {
                        callback(new Error('The price format of food can only be numbers, and keep up to two decimal places'))
                      }
                    }
                  },
                  'trigger': 'blur'
                }
              ],
            }
          }
        },
        created() {
          this.getDishList()
          this.getOptionListHand()
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
        },
        mounted() {
        },
        methods: {
          async init () {
            queryDishById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                this.ruleForm = { ...res.data }
                this.ruleForm.price = String(res.data.price/100)
                this.ruleForm.status = res.data.status == '1'
                this.dishOptions = res.data.options && res.data.options.map(obj => ({ ...obj, value: JSON.parse(obj.value),showOption: false }))
                console.log('this.dishOptions',this.dishOptions)
                this.imageUrl = `/common/download?name=${res.data.image}`
              } else {
                this.$message.error(res.msg || 'Operation failed')
              }
            })
          },
          // 按钮 - 添加口味
          addOption () {
            this.dishOptions.push({'name': '', 'value': [], showOption: false}) // JSON.parse(JSON.stringify(this.dishOptionsData))
          },

          // 按钮 - 删除口味
          delOption (ind) {
            this.dishOptions.splice(ind, 1)
          },

          // 按钮 - 删除口味标签
          delOptionLabel (index, ind) {
            this.dishOptions[index].value.splice(ind, 1)
          },

          //口味位置记录
          optionPosition (index) {
            this.index = index
          },

          // 添加口味标签
          keyDownHandle (val,index) {
            console.log('keyDownHandle----val',val)
            console.log('keyDownHandle----index',index)
            console.log('keyDownHandle----this.dishOptions',this.dishOptions)
            if (event) {
              event.cancelBubble = true
              event.preventDefault()
              event.stopPropagation()
            }

            if (val.target.innerText.trim() != '') {
              this.dishOptions[index].value.push(val.target.innerText)
              val.target.innerText = ''
            }
          },

          // 获取菜品分类
          getDishList () {
            getCategoryList({ 'type': 1 }).then(res => {
              if (res.code === 1) {
                this.dishList = res.data
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            })
          },

          // 获取口味列表
          getOptionListHand () {
            // option optionData
            this.dishOptionsData = [
              {'name':'Sugar','value':['no sugar','%25 sugar','%50 sugar','%75 sugar','%100 sugar']},
              {'name':'Temperature','value':['hot','normal temperature','cold','extra cold']},
              {'name':'Spicy','value':['no spicy','slightly spicy','medium spicy','extra spicy']}
            ]
          },

          selectOption(st,index){
            console.log('st',st)
            console.log('index',index)
            console.log('this.dishOptions',this.dishOptions)
            const obj = JSON.parse(JSON.stringify(this.dishOptions[index]))
            obj.showOption = st
            this.dishOptions.splice(index,1,obj)
            // this.dishOptions[index].showOption = st
          },

          outSelect(st,index){
            const _this = this
            setTimeout(()=> {
              const obj = JSON.parse(JSON.stringify(_this.dishOptions[index]))
              obj.showOption = st
              _this.dishOptions.splice(index,1,obj)
            }, 200)
          },

          inputHandle(val,index){
            // this.selectOption(false,index)
          },

          checkOption(val, ind, index){
            this.selectHandle(val.name, index, ind)
            this.dishOptions[index].name = val.name
          },

          selectHandle(val, key, ind){
            const arrDate = [...this.dishOptions]
            arrDate[key] = JSON.parse(JSON.stringify(this.dishOptionsData[ind]))
            this.dishOptions = arrDate
          },

          submitForm(formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                let params = {...this.ruleForm}
                // params.options = this.dishOptions
                params.status = this.ruleForm ? 1 : 0
                params.price *= 100
                params.categoryId = this.ruleForm.categoryId
                params.options = this.dishOptions.map(obj => ({ ...obj, value: JSON.stringify(obj.value) }))
                delete params.dishOptions
                if(!this.imageUrl){
                  this.$message.error('请上传菜品图片')
                  return 
                }
                if (this.actionType == 'add') {
                  delete params.id
                  addDish(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('菜品添加成功！')
                      if (!st) {
                        this.goBack()
                      } else {
                        this.dishOptions = []
                        // this.dishOptionsData = []
                        this.imageUrl = ''
                        this.ruleForm = {
                          'name': '',
                          'id': '',
                          'price': '',
                          'code': '',
                          'image': '',
                          'description': '',
                          'dishOptions': [],
                          'status': true,
                          categoryId: ''
                        }
                      }
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('The request went wrong: ' + err)
                  })
                } else {
                  delete params.updateTime
                  editDish(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('菜品修改成功！')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('The request went wrong: ' + err)
                  })
                }
              } else {
                return false
              }
            })
          },

          handleAvatarSuccess (response, file, fileList) {
            // 拼接down接口预览
            if(response.code === 0 && response.msg === '未登录'){
              window.top.location.href = '/back/page/login/login.html'
            }else{
              this.imageUrl = `/common/download?name=${response.data}`
              this.ruleForm.image = response.data
            }
          },

          onChange (file) {
            if(file){
              const suffix = file.name.split('.')[1]
              const size = file.size / 1024 / 1024 < 2
              if(['png','jpeg','jpg'].indexOf(suffix) < 0){
                this.$message.error('Pictures only support png, jpeg, jpg format!')
                this.$refs.upload.clearFiles()
                return false
              }
              if(!size){
                this.$message.error('File size cannot exceed 2MB!')
                return false
              }
              return file
            }
          },
          
          goBack(){
            window.parent.menuHandle({
              id: '4',
              url: '/back/page/food/list.html',
              name: '菜品管理'
            },false)
          }
        }
      })
    </script>
</body>
</html>