<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>RENALDO EATS</title>
    <link rel="icon" href="../images/favico.ico">
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../../back/plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/address-edit.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="address_edit" class="app" v-cloak v-loading="loading">
    <div class="divHead">
        <div class="divTitle">
            <i class="el-icon-arrow-left" @click="goBack"></i>{{title}}
        </div>
    </div>
    <div class="divContent">
        <div class="divItem">
            <span>Name:</span>
            <el-input placeholder=" Please enter the name" v-model="form.name"  maxlength='10' style="width: calc(100% - 80rem);"/></el-input>
        </div>
        <div class="divItem">
            <span>Gender:</span>
            <span class="spanChecked" style="margin-right: 10rem;" @click="form.gender = '0'">
                <i :class="{iActive:form.gender === '0'}"></i>
                Female
            </span>
            <span class="spanChecked" style="margin-right: 10rem;" @click="form.gender = '1'">
                <i :class="{iActive:form.gender === '1'}"></i>
                Male
            </span>
            <span class="spanChecked" style="margin-right: 10rem;" @click="form.gender = '2'">
                <i :class="{iActive:form.gender === '2'}"></i>
                Other
            </span>
        </div>
        <div class="divItem">
            <span>Phone:</span>
            <el-input placeholder=" Please enter the phone" v-model="form.phone"  maxlength='20' style="width: calc(100% - 80rem);"/></el-input>
        </div>
        <div class="divItem">
            <span>Address:</span>
            <el-input placeholder=" Please enter the address" v-model="form.detail"  maxlength='255' style="width: calc(100% - 80rem);"/></el-input>
        </div>
        <div class="divItem ">
            <span>Label:</span>
            <span v-for="(item,index) in labelList" :key="index" @click="form.label = item;activeIndex = index" :class="{spanItem:true,spanActiveSchool:activeIndex === index}">{{item}}</span>
        </div>
        <div class="divSave" @click="saveAddress">Save</div>
        <div class="divDelete" @click="deleteAddress" v-if="id">Delete</div>
    </div>
</div>
<script src="../../back/plugins/vue/vue.js"></script>
<script src="../../back/plugins/element-ui/index.js"></script>
<script src="../js/vant.min.js"></script>
<script src="../js/common.js"></script>
<script src="../api/address.js"></script>
<script src="../../back/plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>
<script>
    new Vue({
        el:"#address_edit",
        data(){
            return {
                loading: true,
                title:'New Address',
                form:{
                    name:'',
                    phone:undefined,
                    gender:'0',//0 female; 1 male; 2 other
                    detail:'',
                    label:'Work',
                },
                labelList:[
                    'Work','Home','School','Other'
                ],
                id:undefined,
                activeIndex :0
            }
        },
        computed:{},
        created(){
            this.initData()
        },
        mounted(){
        },
        methods:{
            goBack(){
                history.go(-1)
            },
            async initData(){
                const params = parseUrl(window.location.search)
                this.id = params.id
                if(params.id){
                    this.title = 'Edit Address'
                    const res = await addressFindOneApi(params.id)
                    if(res.code === 1){
                        this.form = res.data
                    }else{
                        this.$notify({ type:'warning', message:res.msg});
                    }
                }
                this.loading = false;
            },
            async saveAddress(){
                const form = this.form
                if(!form.name){
                    this.$notify({ type:'warning', message:'Please enter the name'});
                    return
                }
                if(!form.phone){
                    this.$notify({ type:'warning', message:'Please enter the phone'});
                    return
                }
                if(!form.detail){
                    this.$notify({ type:'warning', message:'Please enter the address'});
                    return
                }
                const reg = /^04[0-9]{8}$/
                if(!reg.test(form.phone)){
                    this.$notify({ type:'warning', message:'Wrong phone number!'});
                    return
                }
                let res= {}
                if(this.id){
                    res = await updateAddressApi(this.form)
                }else{
                    res = await addAddressApi(this.form)
                }

                if(res.code === 1){
                    window.requestAnimationFrame(()=>{
                        window.location.replace('/front/page/address.html')
                    })
                }else{
                    this.$notify({ type:'warning', message:res.msg});
                }
            },
            deleteAddress(){
                this.$dialog.confirm({
                    title: 'Delete',
                    message: 'Are you sure you want to delete the current address?',
                })
                    .then( async () => {
                        const res = await deleteAddressApi({ids:this.id })
                        if(res.code === 1){
                            window.requestAnimationFrame(()=>{
                                window.location.replace('/front/page/address.html')
                            })
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    })
                    .catch(() => {
                    });
            },
        }
    })
</script>
</body>
</html>
