<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>RENALDO EATS</title>
        <link rel="icon" href="../images/favico.ico">
        <script src="../js/base.js"></script>
        <link rel="stylesheet" href="../../back/plugins/element-ui/index.css" />
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <link rel="stylesheet" href="../styles/index.css" />
        <link rel="stylesheet" href="../styles/login.css" />
      </head>
    <body>
        <div id="login" v-loading="loading">
            <div class="divHead">LOG IN</div>
            <div class="divContainer">
                <el-input placeholder=" Please enter your email" v-model="form.email"  maxlength='20'/></el-input>
                <div class="divSplit"></div>
                <el-input placeholder=" Please enter the code" v-model="form.code"  maxlength='20'/></el-input>
                <span @click='getCode'>Send code</span>
            </div>
            <div class="divMsg" v-if="msgFlag">Email format is incorrect. Please re-enter.</div>
            <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.email,btnPhone:form.email}" @click="btnLogin">LOG IN</el-button>
        </div>
        <script src="../../back/plugins/vue/vue.js"></script>
        <script src="../../back/plugins/element-ui/index.js"></script>
        <script src="../js/vant.min.js"></script>
        <script src="../../back/plugins/axios/axios.min.js"></script>
        <script src="../js/request.js"></script>
        <script src="../api/login.js"></script>
    </body>
    <script>
        new Vue({
            el:"#login",
            data(){
                return {
                    form:{
                        email:'',
                        code:''
                    },
                    msgFlag:false,
                    loading:false
                }
            },
            computed:{},
            created(){},
            mounted(){},
            methods:{
                getCode(){
                    this.form.code = ''
                    const regex = /^(\w+?)@(\w+?)\.com$/;
                    if (regex.test(this.form.email)) {
                        this.msgFlag = false
                        // this.form.code = (Math.random()*1000000).toFixed(0)
                        sendEmail({email:this.form.email})
                    }else{
                        this.msgFlag = true
                    }
                },
                async btnLogin(){
                    if(this.form.email && this.form.code){
                        this.loading = true
                        const res = await loginApi({email:this.form.email})
                        this.loading = false
                        if(res.code === 1){
                            sessionStorage.setItem("userPhone",this.form.email)
                            window.requestAnimationFrame(()=>{
                                window.location.href= '/front/index.html'
                            })                           
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    }else{
                        this.$notify({ type:'warning', message:'Please enter your email'});
                    }
                }
            }
        })
    </script>
</html>